#slider-section {
  overflow: hidden;
  user-select: none;

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 3rem 0;

    .slider-buttons {
      position: absolute;
      inset: 0;
      margin: 0 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;      

      .slider-button {
        width: 2rem;
        z-index: 3;
      }
    }

    .main-slider {
      display: flex;
      position: absolute;
      inset: 0;

      &__item {
        position: absolute;
        inset: 0;
        transform: translateX(100%);
        display: flex;
        justify-content: center;

        .slider-image {
          position: absolute;
          inset: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .slider-content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          z-index: 2;

          .slider-title-wrapper {
            overflow: hidden;
            .slider-title {
              font-weight: 400;
              font-size: 50px;
            }
          }
        }
      }

    }

    .menu {
      height: 5rem;
      display: flex;
      column-gap: 2rem;
      z-index: 2;
    }

    .preview-slider {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 40px;
      width: 100%;
      transform: translateX(50%);
      max-width: 100%;

      &__item {
        opacity: 0;
        img {
          pointer-events: none;
          width: 35vmin;
          height: 50vmin;
          object-fit: cover;
          object-position: center center;
        }
      }
    }

    .bottom {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      z-index: 4;

      .bottom-column {
        width: 40%;
      }

      .thumbs-slider {
        display: flex;
        gap: 6px;

        &__item {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
          }
        }
      }

      .pagination {
        overflow: hidden;
        display: flex;
        align-items: center;

        &__line {
          display: inline-block;
          width: 1rem;
          height: 1.5px;
          background: white;
          color: white;
          margin: 0 0.5rem;
        }
      }
    }
  }
}
