.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__flex {
    display: flex;
    justify-content: flex-start;
    height: 561vh;
  }

  img{
    object-position: 100% center;
  }
}
